<div>
	<header id="about_header">
		<p id="header_title">About Me</p>
	</header>
</div>
<div id="content">
	<div id="header2">
		<span class="avatar"><img src="image/aboutThumb.jpg" alt="" /></span>
		<h1>This is <strong>Aditya Bhargava</strong>, a computer engineering student at the <a href="http://illinois.edu">Univesity of Illinois at Urbana Champaign</a></h1>
		<ul class="icons">
			<li><a href="https://github.com/abhargv3/" title="Github" class="icon style2 fa-github"><span class="label">Github</span></a></li>
			<li><a href="https://www.facebook.com/adityabhargava07" title="Facebook" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon style2 fa-download" title="Resume"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/in/aditya-bhargava" title="LinkedIn" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<li><a href="mailto:abhargv3@illinois.edu" class="icon style2 fa-envelope-o" title="Email"><span class="label">Email</span></a></li>
		</ul>
	</div>
</div>
