<div>
	<header id="about_header">
		<p id="header_title">About Me</p>
	</header>
</div>
<div id="content">
	<div id="header2">
		<span class="avatar"><img src="image/aboutThumb.jpg" alt="" /></span>
			<p>Hi there! I am a current Computer Science student at University of Illinois. I am a big Machine Learning enthusiast and an aspiring data scientist. I also love web development and primarily use the LAMP stack.</p>
			<p>Before living in the US, I lived in Shanghai during high school! I may understand a bit of Mandarin but speak very little of it :P</p>
			<p>My other hobbies include robotics, EDM music and I do enjoy playing tennis.</p>
			<p>Feel free to PM me through email, linkedIn or even Facebook to connect with me!</p>
		</ul>
	</div>
</div>
