<div>
	<header id="projects_header">
		<p id="header_title">Projects</p>
	</header>
</div>
<div id="content">
	<div id="header2">
	</div>
	<!-- Thumbnails -->
	<section class="thumbnails">
		<div>
			<a href="https://tklem.github.io/RecipeDisplay/">
				<img src="image/thumbs/Foodie.jpg" alt="" />
				<h3>Foodie: An Alexa App</h3>
			</a>
			<a href="http://presentable.herokuapp.com/">
				<img src="image/thumbs/Presentable.jpg" alt="" />
				<h3>Presentable</h3>
			</a>
		</div>
		<div>
			<a href="https://github.com/abhargv3/Scikit-Learn/blob/master/Scikit-Learn.ipynb">
				<img src="image/thumbs/handrec.png" alt="" />
				<h3>Hand Recognition Software</h3>
			</a>
			<a href="https://github.com/ADSA-UIUC">
				<img src="image/thumbs/ADSA.png" alt="" />
				<h3>ADSA Workshops Committee</h3>
			</a>
		</div>
		<div>
			<a href="http://141.142.208.199">
				<img src="image/thumbs/Bone.png" alt="" />
				<h3>NCSA Project</h3>
			</a>
		</div>
	</section>
</div>
