<div>
	<header id="projects_header">
		<p id="header_title">Projects</p>
	</header>
</div>
<div id="content">
	<div id="header2">
	</div>
	<!-- Thumbnails -->
	<section class="thumbnails">
		<div>
			<a href="image/fulls/01.jpg">
				<img src="image/thumbs/01.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
			<a href="image/fulls/02.jpg">
				<img src="image/thumbs/02.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
		</div>
		<div>
			<a href="image/fulls/03.jpg">
				<img src="image/thumbs/03.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
			<a href="image/fulls/04.jpg">
				<img src="image/thumbs/04.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
			<a href="image/fulls/05.jpg">
				<img src="image/thumbs/05.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
		</div>
		<div>
			<a href="image/fulls/06.jpg">
				<img src="image/thumbs/06.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
			<a href="image/fulls/07.jpg">
				<img src="image/thumbs/07.jpg" alt="" />
				<h3>Lorem ipsum dolor sit amet</h3>
			</a>
		</div>
	</section>
</div>
