body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}

header{
	position: relative;
	height:600px;
	width:80%;
	background-image: url("image/bgImg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	z-index: -1;
	margin: auto;

}
#header_title{
	position: absolute;
	top: 40%;
	margin-top: -40px;
	background-position: center;
	text-align: center;
	margin:auto;
	color: white;
	font-size: 128px;
	font-family: 'Amatic SC', cursive;
}

#content{
	height: 720px;
	width: 80%;
	text-align: center;
	margin: auto;
	background-color: #388E8E;
	position: relative;
	z-index: 1;
}

