body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}

header{
	position: relative;
	height:600px;
	background-image: url("image/bgImg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	z-index: -1;

}

#content{
	height: 720px;
	width: 72.6%;
	text-align: center;
	margin: auto;
	background-color: #388E8E;
	position: relative;
	z-index: 1;
}

#header_title{
	top: 50%;
	margin-top: -50px;
	background-position: center;
	text-align: center;
	margin:auto;
	color: white;
	font-size: 128px;
	font-family: 'Amatic SC', cursive;
}